.App {
  text-align: center;
}

.add-item-form {
  
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.form-item {
  margin: 8px 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

}

.form-button {
  width: 50%;
  max-width: 200px;
}

.smurf-list {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.smurf-item {
  margin: 12px 0;
  padding: 8px 8px;
  width: 300px;
  border: 1px gainsboro solid;
}